<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>百万(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>十万(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>万位(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>千位(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>百位(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>十位(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>个位(至少选一个)</string>
		<key>numbers</key>
		<array>
			<dict>
				<key>number</key>
				<string>0</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>1</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>2</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>3</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>4</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>5</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>6</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>7</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>8</string>
				<key>isSelect</key>
				<false/>
			</dict>
			<dict>
				<key>number</key>
				<string>9</string>
				<key>isSelect</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
